/////                                     //
////  Greger Elliot language selector    ///
///  Janne Klouman <janne@klouman.com>  ////
//                                     /////

.language-selector {

	list-style-type: none;

	@include mobile {
		position: fixed;
		bottom: $padding-section;
	}

	&__item {
		display: inline-block;
		cursor: pointer;
		font-family: $font-family-language-selector;
		font-size: $font-size-slideshow-description;
		color: $color-navigation;
		margin-left: 1rem;
		float: right;
		padding-bottom: $padding-section;

		@include mobile {
			margin-left: $padding-section;
		}

		&--focused {
			color: DARKORANGE;
		}

	}

}
