/////                                     //
////  Greger Elliot language selector    ///
///  Janne Klouman <janne@klouman.com>  ////
//                                     /////

.language-selector-holder {
	@include mobile {
		position: fixed;
		bottom: 0;
		left: 0;
		height: 40px;
		width: 100vw;
		z-index: 2;
		background: white;
	}
}

.language-selector {

	list-style-type: none;

	@include mobile {
		position: fixed;
		bottom: $padding-section;
		z-index: 4;
		display: none;
	}

	&__item {
		display: inline-block;
		cursor: pointer;
		font-family: $font-family-language-selector;
		font-size: $font-size-slideshow-description;
		color: $color-navigation;
		margin-left: 1rem;
		float: right;
		padding-bottom: $padding-section;

		@include mobile {
			margin-right: $padding-section;
			padding-bottom: 0;
		}

		&--focused {
			color: DARKORANGE;
		}

	}

}
