/////                                     //
////      Greger Elliot navigation       ///
///  Janne Klouman <janne@klouman.com>  ////
//                                     /////

.menu {

	list-style-type: none;
	text-align: center;
	padding: 25px 0;

	@include mobile {
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: 0;
		text-align: right;
		position: fixed;
		bottom: $padding-section * 2;
		right: $padding-section * 2;

		height: 100vh;
		width: 100vw;

		top: 100vh;
		left: 0;
		opacity: .9;
		background: white;
		z-index: 10;
		-webkit-transition: top 500ms;
		-moz-transition: top 500ms;
		-ms-transition: top 500ms;
		-o-transition: top 500ms;
		transition: top 500ms;

		&--expanded {
			top: 0;
		}
	}

	&__item {
		@include mobile {
			padding: .5rem;
		}
	}

	&__link {

		cursor: pointer;
		font-family: $font-family-menu;
		font-size: $font-size-navigation;
		line-height: 1.5;
		color: $color-navigation;
		text-decoration: none;

		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;

		@include mobile {
			line-height: inherit;
			font-family: $font-family-menu-mobile;
			font-size: $font-size-navigation-mobile;
		}

		&:hover {
			color: ORANGE;
		}

		&:active {
			color: DARKORANGE;
		}

		&--focused {
			color: DARKORANGE;
		}

		&--large {
			font-size: 1.25rem;
		}

		&--mobile-expand {
			display: none;
			@include mobile {
				position: fixed;
				display: block;
				z-index: 20;
				bottom: $padding-section * 2;
				right: $padding-section * 2;
			}
		}

	}

}

