/////                                     //
////      Greger Elliot slide show       ///
///  Janne Klouman <janne@klouman.com>  ////
//                                     /////

.image-gallery-image {

	text-align: center;

}

.image-gallery-image img {

	max-width: 100%;
	max-height: calc(100vh - #{($padding-section * 2)} - #{$height-slideshow-description} - #{$height-language-bar});
	height: auto;
	width: auto;
	cursor: pointer;

	@include mobile {
		max-height: calc(100vh - 80px - #{($height-logo-sm)} - #{($padding-section * 2)} - #{$height-slideshow-description} - #{$height-language-bar});
	}

}

.slide-show-description {

	height: $height-slideshow-description;
	line-height: $height-slideshow-description;
	white-space: nowrap;
	font-size: $font-size-slideshow-description;
	font-family: $font-family-gallery-description;
	font-weight: 500;
	margin: 0;
	text-align: center;

}

.image-gallery.fullscreen-modal {
	.image-gallery__controls {
		left: 50vw;
		-webkit-transform: translateX(-50%);
		-moz-transform: translateX(-50%);
		-ms-transform: translateX(-50%);
		-o-transform: translateX(-50%);
		transform: translateX(-50%);

		@include mobile {
			display: none;
		}
	}

	.image-gallery-image img {

		@include mobile {
			max-height: calc(100vh - 40px);
		}

	}
}

.image-gallery {

	&:-webkit-full-screen{
		width: 100vw;
		height: 100vh;

		.image-gallery-content {
			margin-top: 50vh;
			transform: translateY(-50%);
		}

		.image-gallery__controls {
			left: 50vw;
			-webkit-transform: translateX(-50%);
			-moz-transform: translateX(-50%);
			-ms-transform: translateX(-50%);
			-o-transform: translateX(-50%);
			transform: translateX(-50%);
		}

		.image-gallery-image img {

			@include mobile {
				max-height: calc(100vh - 40px);
			}

		}
	}

	&__title {

	}

	&__controls {
		position: absolute;
		top: -33px;
		opacity: .7;
	}

	&__control {
		display: inline-block;
		width: 23px;
		height: 23px;
		margin-right: 10px;

		&:hover {
			cursor: pointer;
			opacity: .7;
			-webkit-transition: all 400ms;
			-moz-transition: all 400ms;
			-ms-transition: all 400ms;
			-o-transition: all 400ms;
			transition: all 400ms;
		}
	}

}
