/////                                     //
////      Greger Elliot Typography       ///
///  Janne Klouman <janne@klouman.com>  ////
//                                     /////

// Lora regular font.
@font-face {

  font-family: 'loraregular';
  src: url('../font/lora/lora-regular-webfont.woff2') format('woff2'),
  url('../font/lora/lora-regular-webfont.woff') format('woff'),
  url('../font/lora/lora-regular-webfont.ttf') format('truetype'),
  url('../font/lora/lora-regular-webfont.svg#loraregular') format('svg');
  font-weight: normal;
  font-style: normal;

}

// Roboto medium font.
@font-face {

  font-family: 'roboto-medium';
  src: url('../font/roboto/roboto-medium.woff2') format('woff2'),
  url('../font/roboto/roboto-medium.woff') format('woff'),
  url('../font/roboto/roboto-medium.ttf') format('truetype'),
  url('../font/roboto/roboto-medium.svg#robotomedium') format('svg');
  font-weight: normal;
  font-style: normal;

}

// Roboto black font.
@font-face {

  font-family: 'roboto-black';
  src: url('../font/roboto/roboto-black.woff2') format('woff2'),
  url('../font/roboto/roboto-black.woff') format('woff'),
  url('../font/roboto/roboto-black.ttf') format('truetype'),
  url('../font/roboto/roboto-black.svg#robotoblack') format('svg');
  font-weight: normal;
  font-style: normal;

}

html {

  font-size: 18px;

}

h1 {

  font-family: $font-family-heading;
  color: $color-gray-text;
  font-size: $font-size-h1;
  margin-bottom: $margin-bottom-h1;

}

h2,h3,h4 {

  margin-bottom: 1rem;

}

p {

  font-size: $font-size-p;
  font-family: $font-family-paragraph;
  color: $color-gray-text;
  line-height: 1.5;
  margin-bottom: 1rem;

}

// Text selection color.
::selection {
  background: DARKORANGE;
  color: SNOW;
}

::-moz-selection {
  background: DARKORANGE;
  color: SNOW;
}
