/////                                     //
////      Greger Elliot Typography       ///
///  Janne Klouman <janne@klouman.com>  ////
//                                     /////

// Lora regular font
@font-face {
  font-family: 'loraregular';
  src: url('../font/lora/lora-regular-webfont.woff2') format('woff2'),
  url('../font/lora/lora-regular-webfont.woff') format('woff'),
  url('../font/lora/lora-regular-webfont.ttf') format('truetype'),
  url('../font/lora/lora-regular-webfont.svg#loraregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

// Mogra regular font
@font-face {
  font-family: 'mograregular';
  src: url('../font/mogra/mogra-regular-webfont.woff2') format('woff2'),
  url('../font/mogra/mogra-regular-webfont.woff') format('woff'),
  url('../font/mogra/mogra-regular-webfont.ttf') format('truetype'),
  url('../font/mogra/mogra-regular-webfont.svg#mograregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

html {
  font-size: 18px;
}

h1 {
  font-family: 'loraregular', serif;
  color: $color-gray-text;
  font-size: $font-size-h1;
}

p {
  font-size: $font-size-p;
  font-family: 'loraregular', serif;
  color: $color-gray-text;
  line-height: 1.5;
}