/////                                     //
////       Greger Elliot variables       ///
///  Janne Klouman <janne@klouman.com>  ////
//                                     /////


// Colors
$color-white: white;
$color-gray-text: #232326;
$color-gray-navigation: #282e40;

// Sizes
$font-size-h1: 2rem;
$font-size-slideshow-description: 24px;
$font-size-p: 1rem;

$width-section-first: 420px;
$width-section-first-mobile: 320px;
$width-section-first-tablet: 320px;

$width-tablet: 768px;
$width-desktop: 1024px;

$padding-section: 20px;

$margin-bottom-h1: 1.5rem;

$height-slideshow-controls: 0;
$height-slideshow-description: 72px;
