*, *:after, *:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import 'third-party/slick';
@import 'variables';
@import 'typography';
@import 'logo';
@import 'navigation';
@import 'language-selector';
@import 'page';
@import 'slide-show';

// Site structure.
#greger-elliot-root {

  // Logo + large screen device menu section.
  section:nth-of-type(1) {
    width: $width-section-first;
    padding: 20px 0 20px 20px;
    position: fixed;
    top: 0;
    left: 0;
  }

  // Content section.
  section:nth-of-type(2) {
    width: calc(100% - #{$width-section-first});
    padding: 20px;
    position: relative;
    top: 0;
    left: $width-section-first;
  }

}
