*, *:after, *:before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

*:fullscreen,
*:-webkit-full-screen,
*:-moz-full-screen,
html,
body {
	background-color: rgba(255,255,255,1);
}

.cf {
	clear: both;
}

@import 'image-gallery';
@import 'variables';
@import 'mixins';
@import 'typography';
@import 'logo';
@import 'navigation';
@import 'language-selector';
@import 'page';
@import 'slide-show';

// Site structure.
#greger-elliot-root {

	// Logo + large screen device menu section.
	section.first {

		position: fixed;
		top: 0;
		left: 0;
		width: $width-section-first;
		padding: $padding-section 0 $padding-section $padding-section;

		@include tablet {
			width: $width-section-first-tablet;
		}

		@include mobile {
			position: absolute;
			left: 0;
			width: 100%;
			z-index: 3;
			padding: $padding-section $padding-section 0;
		}

	}

	// Content section.
	section.second {

		position: relative;
		top: 0;
		left: $width-section-first;
		width: calc(100% - #{$width-section-first});
		padding: $padding-section;


		@include tablet {
			left: $width-section-first-tablet;
			width: calc(100% - #{$width-section-first-tablet});
		}

		@include mobile {
			left: 0;
			width: 100%;
			z-index: 2;
		}

	}

}
